
 .fix-position-header{
    
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
 }
 
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px 0px 60px;
    background-color: #fff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.54); 
    
}
.header h1{
    font-family: "Playfair Display", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 30px;
    color: rgb(137, 25, 25);

}

.logo {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 110px;
    height: auto;
    margin-right: 270px;
    
    mix-blend-mode: multiply;
    border: none; 
    outline: none;
}
.menu-icon {
    display: flex;
    align-items: center;
    
  }
  
  
  .drawer-content {
    width: 300px;
    padding: 15px;
    
    
  }
 
  .close-button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    
  }
  

  .MuiDivider-root {
    margin: 20px 0;
    
  }
  

  .MuiListItem-root {
    padding: 10px 16px;
    color: #075b27; 
    font-family: "Playfair Display", serif;
    
  }
  
  
  .MuiListItem-root:hover {
    background-color: #e0e0e0; 
    color: rgb(183, 4, 120);
    font-family: "Playfair Display", serif;
  }

  @media (max-width: 768px) {
    .header {
        padding: 0px 20px; 
        flex-direction: row; 
    }

    .logo-image {
        width: 100px; 
        margin-right: 0; 
    }

    .header h1 {
        font-size: 24px; 
        text-align: center; 
    }

    .menu-icon {
        justify-content: center;
        width: 100%;
        margin-top: 10px;
    }
}
@media (max-width: 480px) {
    .header {
        padding: 0px 140px 0px 20px;
        flex-direction: row; 
      
        align-items: center; 
    }

    .header h1 {
        font-size: 12px;
        margin: 0; 
        flex: 1; 
        text-align: left; 

    }

    .logo-image {
        width: 80px; 
     
        margin-left: 70px;
    }

    .menu-icon {
        margin-left: auto; 
        flex: none; 
    }

    .drawer-content {
        width: 100%; 
    }
}