.fix-bottom {
    position: fixed;  
    bottom: 20px;   
    right: 20px;    
    z-index: 9999;  /* Increase the z-index */
}

.fix-bottom img {
    width: 60px;    
    height: auto;     
    cursor: pointer; 
    transition: transform 0.3s ease;  
}

.fix-bottom img:hover {
    transform: scale(1.1);  
}
