.carousel-container {
    position: relative;
    z-index: 10; /* Ensures it appears on top */
  }
  .fixed-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* or set an appropriate height */
    overflow: hidden; /* if necessary */
    z-index: 5; /* Make sure this doesn't overlap with the carousel */
  }
    



.product-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  /* Ensure cards wrap on smaller screens */
}

.card {
    position: relative;
    width: 100%;  /* Full width on mobile */
    height: 600px;  /* Reduced height for better responsiveness */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    overflow: hidden;
}

.card-content {
    position: relative;
    z-index: 2;
    padding: 20px;
    
    width: 100%;
    box-sizing: border-box;
}

.card h2 {
    font-size: 1.8rem;
    margin: 0;
}

.card p {
    margin: 10px 0;
    font-size: 1rem;
}

.card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);  /* Slightly lighter overlay for better visuals */
    z-index: 1;
}

@media (max-width: 768px) {
    .card {
        height: 400px;  /* Adjust height for mobile */
    }

    .card h2 {
        font-size: 1.4rem;  /* Adjust heading font size */
    }

    .card p {
        font-size: 0.9rem;  /* Adjust paragraph font size */
    }
}
