.banner {
    /* background-image: url('bamboo-background.jpg'); */
    background-size: cover;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(131, 76, 76);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.banner h2 {
    font-size: 3rem;
}

.banner button {
    margin-top: 20px;
}
